<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html ng-app="eSoafApp">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta property="og:title" content="中華郵政-網路郵局"></meta>
    <meta property="og:description" content="線上開戶 申請網路郵局 數位支局服務 VISA線上續卡"></meta>
	<meta property="og:type" content="website"/>
	<meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image" content="assets/img/logo_og.jpg"></meta>
	<meta property="og:image:secure_url" content="assets/img/logo_og.jpg" />

	<title>網路郵局</title>
	<link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all">
	<link id="bizColorStyleLink" href="assets/css/ind_green.css" rel="stylesheet" type="text/css" media="screen">
	<link href="assets/css/plugin_css/flexslider.css" rel="stylesheet" type="text/css" media="screen">
	<link href="assets/css/plugin_css/ui.totop.css" rel="stylesheet" type="text/css" media="screen,projection">
	<link type="text/css" href="assets/css/plugin_css/jquery-ui-1.8.18.custom.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/lib/JQGrid/css/ui.jqgrid.css">
	<link rel="stylesheet" type="text/css" href="assets/lib/Angular.MultiSelect/angular-multi-select.css">
	<link href="assets/css/ui-confirm.css" rel="stylesheet" type="text/css" media="screen">
	<!--[if IE 8]>
		<link href="assets/css/ie8.css" rel="stylesheet" type="text/css" media="screen">
	<![endif]-->

	<link rel="stylesheet" href="assets/lib/ngDialog/css/ngDialog.css">
	<link rel="stylesheet" href="assets/lib/ngDialog/css/ngDialog-theme-default.css">
	<link rel="stylesheet" href="assets/lib/ngDialog/css/ngDialog-theme-plain.css">
	<link rel="stylesheet" href="assets/lib/ngDialog/css/ngDialog-custom-width.css">
<!--	<link rel="stylesheet" href="assets/lib/JQueyFileUpload/css/jquery.fileupload.css">-->

	<link rel="stylesheet" media="screen" href="assets/lib/SpryMenuBarHorizontal.css">
<!-- 	<link rel="stylesheet" href="assets/lib/zTree/css/demo.css" type="text/css"> -->
	<link rel="stylesheet" href="assets/lib/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">

	<link rel="stylesheet" href="assets/css/esoaf.css" />

	<link rel="stylesheet" href="assets/css/angular-chart.css">
	<link rel="stylesheet" href="assets/css/dkeyboard.css">
	<!--[if IE 5]><script type="text/javascript">alert('為提供您更安全、快速的使用體驗，請升級至IE9以上瀏覽器版本，或使用其他瀏覽器軟體 Google Chrome、Firefox，以繼續使用網路郵局相關服務！');window.location='helpPage.html';</script><![endif]-->
	<!--[if IE 6]><script type="text/javascript">alert('為提供您更安全、快速的使用體驗，請升級至IE9以上瀏覽器版本，或使用其他瀏覽器軟體 Google Chrome、Firefox，以繼續使用網路郵局相關服務！');window.location='helpPage.html';</script><![endif]-->
	<!--[if IE 7]><script type="text/javascript">alert('為提供您更安全、快速的使用體驗，請升級至IE9以上瀏覽器版本，或使用其他瀏覽器軟體 Google Chrome、Firefox，以繼續使用網路郵局相關服務！');window.location='helpPage.html';</script><![endif]-->
	<!--[if IE 8]><script type="text/javascript">alert('為提供您更安全、快速的使用體驗，請升級至IE9以上瀏覽器版本，或使用其他瀏覽器軟體 Google Chrome、Firefox，以繼續使用網路郵局相關服務！');window.location='helpPage.html';</script><![endif]-->

	<script type="text/javascript" src="assets/lib/JQuery/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery/jquery-1.11.3.js"></script>
	<script src="assets/js/jsencrypt.js" type="text/javascript"></script>
	<script src="assets/lib/Base64_browser.js" type="text/javascript"></script>
	<script src="assets/js/DES3.js"></script>
	<script src="assets/lib/CryptoJS/components/core.js"></script>
	<script src="assets/lib/CryptoJS/components/enc-base64.js"></script>
	<script src="assets/lib/CryptoJS/rollups/tripledes.js"></script>
	<script src="assets/lib/CryptoJS/components/mode-ecb.js"></script>
	<script src="assets/lib/CryptoJS/components/aes.js"></script>

	<script type="text/javascript" src="assets/lib/JQuery.UI/jquery-ui-1.8.18.custom.min.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/jquery.nice-select.min.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/ind_style.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/initial.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/jquery.textslider.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/jquery.flexslider.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/jquery.ui.totop.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/easing.js"></script>

	<script type="text/javascript" src="assets/lib/JQuery.UI/jquery.ui.datepicker-zh-TW.js"></script>
	<script type="text/javascript" src="assets/lib/JQuery.UI/jquery.maskedinput.min.js"></script>

	<!-- <script src="assets/lib/JQuery.UI/jquery-ui.min.js"></script> -->

<!--	<script type="text/javascript" src="assets/lib/JQueyFileUpload/jquery.iframe-transport.js"></script>-->
<!--	<script type="text/javascript" src="assets/lib/JQueyFileUpload/jquery.fileupload.js"></script>-->
	<!--[if IE 8]>
		<script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript" src="assets/lib/SmartMenu/jquery.smartmenus.js"></script>
	<script type="text/javascript" src="assets/lib/Slimccroll/jquery.slimscroll.min.js"></script>

	<script type="text/javascript" src="assets/lib/JQGrid/js/i18n/grid.locale-tw.js"></script>
	<script type="text/javascript" src="assets/lib/JQGrid/js/jquery.jqGrid.min.js"></script>

	<script type="text/javascript" src="assets/lib/JQuery.Marquee/jquery.marquee.js"></script>
	<script type="text/javascript" src="assets/lib/ace-elements.min.js"></script>
	<!-- 	<script type="text/javascript" src="assets/lib/ace.min.js"></script> -->
	<script type="text/javascript" src="assets/lib/zTree/js/jquery.ztree.core-3.5.js"></script>
	<script type="text/javascript" src="//ssllogo.twca.com.tw/twcaseal_v3.js" charset="utf-8"></script>
	<style type="text/css">
		.overlay {
			background: transparent repeat top left;
			position: fixed;
			top: 0px;
			bottom: 0px;
			left: 0px;
			right: 0px;
			z-index: 100;
		}

		.box {
			position: fixed;
			top: -500px;
			left: 30%;
			background-color: #fff;
			color: RED;
			padding: 20px;
			border: 1px solid #ccc;
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			-khtml-border-radius: 20px;
			-moz-box-shadow: 0 1px 5px #333;
			-webkit-box-shadow: 0 1px 5px #333;
			z-index: 9999;
		}

		span.boxclose {
			float: right;
			width: 26px;
			height: 26px;
			background: transparent repeat top left;
			margin-top: -30px;
			margin-right: -30px;
			cursor: pointer;
		}
		.anouncePic {
			max-width: 100%;
    		height: auto;
		}
	</style>
	<script type="text/javascript">
		function tishi(mess) {
			if ($(window).width() >= 768) {
				$('#overlay').fadeIn('fast', function() {
					$('#box').animate({
						'top': '100px'
					}, 500);
					$("#mess").html('※請注意' + '<br>' + '欄位輸入順序已調整為先輸入「使用者代號」再輸入「網路密碼」！');
					setTimeout("tishiclose()", 2 * 1000); //N秒消失，預設5秒
				});
			}
		}

		function tishiclose() {
			$('#box').animate({
				'top': '-500px'
			}, 500, function() {
				$('#overlay').fadeOut('fast');
			});
		}
	</script>
</head>

<body class="ie8" ng-controller="LoginController" ng-cloak>

	<div id="wrap">
		<div id="nav-toggle"><img src="assets/img/list.png"></div>
		<div id="toptoogle"><img src="assets/img/toptoogle.png"></div>
		<header_index ng-show="!headMarqu">

		</header_index>
		<header_marquee ng-show="headMarqu">

		</header_marquee>

		<div id="menu">
			<nav id="nav">
				<ul>
					<li ng-repeat="nav in navDivision" ng-click="pageLinkEvent(nav)" ng-show="nav.VISIBLE == 1"><a>{{nav.DESCRIPTION}}</a></li>
				</ul>
			</nav>
		</div>
		<div class="shadow">&nbsp;</div>
		<div id="in_mainall">
			<div class="banner_bg">
				<div id="content_wh">
					<div class="loginall" ng-show="loginCount == 0">
						<div class="abgne_tab">
							<ul class="tabs">
								<li class="tab1_txt" ng-click="tabClean('1');"><a href="#tab1">身分證(ID)登入</a></li>
								<li class="tab2_txt" ng-click="tabClean('2');"><a href="#tab2">帳號登入</a></li>
							</ul>
							<div class="tab_container">
								<div id="tab1" class="tab_content" ng-enter="loginCheck('1');">
									<div class="logintxt">身分證號</div>
									<div class="loginfrom"><input ng-model="cif_id" type="text" placeholder="ID" maxlength="10" size="18" e-input-limit="EA" id="cifID" autocomplete="off"></div>
									<div class="clear"></div>

									<div class="logintxt">使用者代號</div>
									<div class="loginfrom" id="userID_1">
										<input id="userID_1_Input" ng-model="userID" type="password" placeholder="6-16位英數字" maxlength="16" size="12" class="keyboardInput" autocomplete="off">
										<!--<input ng-model="userID" type="password" onfocus="tishi();" placeholder="6-16位英數字" maxlength="50" size="12" class="keyboardInput" autocomplete="off">-->
										<!--<span class="tooltiptext">※請注意，欄位輸入順序已調整為先輸入「使用者代號」再輸入「網路密碼」！</span>-->
										<span class="eyes" ng-if="isMobile" ng-click="hideInfoMobile('userID_1');">
											<img id="userID_1_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>
										<span class="eyes" ng-if="!isMobile" ng-mousedown="hideInfo('userID_1', 0);" ng-mouseup="hideInfo('userID_1', 1);">
											<img id="userID_1_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>

									</div>
									<div class="clear"></div>

									<div class="logintxt">網路密碼</div>
									<div class="loginfrom" id="userPWD_1">
										<input id="userPWD_1_Input" ng-model="userPWD" type="password" placeholder="6-16位英數字" maxlength="16" size="12" class="keyboardInput" autocomplete="off">
										<span class="eyes" ng-if="isMobile" ng-click="hideInfoMobile('userPWD_1');">
											<img id="userPWD_1_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>
										<span class="eyes" ng-if="!isMobile" ng-mousedown="hideInfo('userPWD_1', 0);" ng-mouseup="hideInfo('userPWD_1', 1);">
											<img id="userPWD_1_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>

									</div>
									<div class="clear"></div>

									<div class="logintxt">輸入驗證碼</div>
									<div class="loginfrom_1"><input name="captcha" type="tel" placeholder="共四碼" class="loginfromimg_1" maxlength="4" ng-model="inputVO.captcha" e-input-limit="N" size="6" autocomplete="off"></div>
									<div class="loginbtn"><a ng-click="loginCheck('1');">登入</a></div>
									<div class="clear"></div>

									<div class="codes_img">
										<img ng-src="{{imgCaptchaSrc}}"><a href="#" class="codes_replace" ng-click="recaptcha();">更換</a>
									</div>
									<div class="logindowntxt">
										<a href="https://epost.post.gov.tw" target="blank" rel="noopener noreferrer">線上開戶</a>&nbsp&nbsp&nbsp&nbsp
										<a href="applyForiPost.html" target="blank" rel="noopener noreferrer">申請網路郵局(含APP)</a>&nbsp&nbsp&nbsp&nbsp
										<div class="question"><a href="#" ng-click="toUnLoginPages('EB080100', ['328'])">常見問題</a></div>
									</div>
								</div>

								<div id="tab2" class="tab_content" ng-enter="loginCheck('2');">

									<div class="radio_but"><input type="radio" name="radio1" ng-model="loginType" value="PS" id="PS"><label for="PS"><span></span>存簿帳號</label>
									</div>
									<div class="radio_but"><input type="radio" name="radio1" ng-model="loginType" value="GR" id="GR"><label for="GR"><span></span>劃撥帳號</label>
									</div>
									<div class="radio_but"><input type="radio" name="radio1" ng-model="loginType" value="JB" id="JB"><label for="JB"><span></span>公債帳號</label>
									</div>
									<div class="clear"></div>

									<div class="logintxt">帳　　　號</div>
									<div class="loginfrom"><input id="userActNo" type="tel" ng-model="userActNo" placeholder="請輸入{{userActNoLength}}位數字" maxlength="{{userActNoLength}}" size="18" e-input-limit="N" autocomplete="off"></div>
									<div class="clear"></div>

									<div class="logintxt">使用者代號</div>
									<div class="loginfrom" id="userID_2">
									<input id="userID_2_Input" ng-model="userID" type="password" placeholder="6-16位英數字" maxlength="16" size="12" class="keyboardInput" autocomplete="off">
										<!--<input ng-model="userID" type="password" onfocus="tishi();" placeholder="User Code" maxlength="16" size="12" class="keyboardInput" autocomplete="off">-->
										<!--<span class="tooltiptext">※請注意，欄位輸入順序已調整為先輸入「使用者代號」再輸入「網路密碼」！</span>-->
										<span class="eyes" ng-if="isMobile" ng-click="hideInfoMobile('userID_2');">
											<img id="userID_2_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>
										<span class="eyes" ng-if="!isMobile" ng-mousedown="hideInfo('userID_2', 0);" ng-mouseup="hideInfo('userID_2', 1);">
											<img id="userID_2_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>
									</div>
									<div class="clear"></div>

									<div class="logintxt">網路密碼</div>
									<div class="loginfrom" id="userPWD_2">
										<input id="userPWD_2_Input" type="password" ng-model="userPWD" placeholder="6-16位英數字" maxlength="16" size="12" class="keyboardInput" autocomplete="off">
										<span class="eyes" ng-if="isMobile" ng-click="hideInfoMobile('userPWD_2');">
											<img id="userPWD_2_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>
										<span class="eyes" ng-if="!isMobile" ng-mousedown="hideInfo('userPWD_2', 0);" ng-mouseup="hideInfo('userPWD_2', 1);">
											<img id="userPWD_2_Eyes" src="assets/img/eyes_close.png" style="height:20px;vertical-align: middle;"/>
										</span>
									</div>
									<div class="clear"></div>

									<div class="logintxt">輸入驗證碼</div>
									<div class="loginfrom_1"><input name="captcha" type="tel" placeholder="共四碼" class="loginfromimg_1" maxlength="4" ng-model="inputVO.captcha" e-input-limit="N" size="6" autocomplete="off"></div>
									<div class="loginbtn"><a ng-click="loginCheck('2');">登入</a></div>
									<div class="clear"></div>
									<div class="codes_img">
										<img ng-src="{{imgCaptchaSrc}}"><a href="#" class="codes_replace" ng-click="recaptcha();">更換</a>
									</div>
									<div class="logindowntxt">
										<a href="https://epost.post.gov.tw" target="blank" rel="noopener noreferrer">線上開戶</a>&nbsp&nbsp&nbsp&nbsp
										<a href="applyForiPost.html" target="blank" rel="noopener noreferrer">申請網路郵局</a><br>
										壽險請選擇存簿或劃撥帳號登入
										<div class="question"><a ng-click="toUnLoginPages('EB080100', ['328'])">常見問題</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="overlay" id="overlay" style="display:none;"></div>
					<div class="box" id="box">
						<span class="boxclose" id="boxclose" onclick="tishiclose()"></span>
						<span id="mess"></span>
					</div>
					<div class="loginall" ng-show="loginCount != 0">
						<div class="abgne_tab">
							<div class="tab_message">
								您已在其它裝置上登入 或 前次未正常登出<br>請關閉視窗或按「登出」重新登入使用<br><br>
								<div class="loginbtn"><a style="margin: 10px 40px 0 0;" ng-click="wsLogout()">登出</a></div>
							</div>
						</div>
					</div>

					<div>

						<div id="TopAD">
							<div class="TopAdbanner"><a href="#"><img src="" border="0" /></a></div>
							<div class="link"></div>
						</div>
						<div class="list" style="display:none;" id="adList">
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="content_d"></div>

		<div id="content_wh1">
			<div id="noticeall" ng-init="setTimeout(getAnnouncement(), 2000);">
				<div class="noticetitle">系統公告<span class="noticetitleen">Notice</span></div>
				<div class="more"><a href="#" ng-click="toUnLoginPages('EB081100', '363')">More</a></div>
				<div class="noticeleft">
					<ul>
						<li ng-repeat="row in announceList"><a ng-click="getContent(row.OPER_ID);">{{row.TITLE}}</a></li>
					</ul>
				</div>

				<div class="noticeline"><img src="assets/img/green_line.png"></div>

				<div class="noticeright">
					<div class="noticeitem">
						<!-- 			<div ng-repeat="notice in noticeDivisionLevel1"> -->
						<!-- 				<div class="itemphoto" ng-click="pageLinkEvent(notice)" ng-show="notice.VISIBLE == 1"> -->
						<!-- 					<div class="itemphototxt">{{notice.DESCRIPTION}}</div>            -->
						<!-- 					<img ng-src="{{notice.IMG_PATH}}">           -->
						<!-- 				</div> -->
						<!-- 				<div class="itemright"> -->
						<!-- 					<ul> -->
						<!-- 					<li ng-repeat="level2 in noticeDivisionLevel2[notice.UID]" ng-show="level2.VISIBLE == 1"><a ng-click="pageLinkEvent(level2)">{{level2.DESCRIPTION}}</a></li> -->
						<!-- 					</ul> -->
						<!-- 				</div> -->
						<!-- 				<div class="clear"></div> -->
						<!-- 			</div> -->
						<div class="index_icon01">
							<div class="itemphoto" ng-click="pageLinkEvent(noticeDivisionLevel1[1])" ng-show="noticeDivisionLevel1[1].VISIBLE == 1">
								<div class="itemphototxt">{{noticeDivisionLevel1[1].DESCRIPTION}}</div>
								<img ng-src="{{noticeDivisionLevel1[1].IMG_PATH}}">
							</div>
							<div class="itemright">
								<ul>
									<li ng-repeat="level2 in noticeDivisionLevel2[noticeDivisionLevel1[1].UID]" ng-show="level2.VISIBLE == 1"><a ng-click="pageLinkEvent(level2)">{{level2.DESCRIPTION}}</a></li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
						<div class="index_icon02">
							<div class="itemphoto" ng-click="pageLinkEvent(noticeDivisionLevel1[2])" ng-show="noticeDivisionLevel1[2].VISIBLE == 1">
								<div class="itemphototxt">{{noticeDivisionLevel1[2].DESCRIPTION}}</div>
								<img ng-src="{{noticeDivisionLevel1[2].IMG_PATH}}">
							</div>
							<div class="itemright">
								<ul>
									<li ng-repeat="level2 in noticeDivisionLevel2[noticeDivisionLevel1[2].UID]" ng-show="level2.VISIBLE == 1"><a ng-click="pageLinkEvent(level2)">{{level2.DESCRIPTION}}</a></li>
								</ul>
							</div>
						</div>
						<div class="clear"></div>
					</div>
				</div>

				<div id="features">
					<div id="content_wh">
						<div id="container" class="cf">
							<div id="main" role="main">
								<section class="slider">
									<div class="flexslider carousel">
										<ul class="slides">
											<!-- 		    	<li ng-repeat="slider in sliderDivision"> -->
											<!-- 	                <a ng-click="pageLinkEvent(slider)" ng-show="slider.VISIBLE == 1"><img ng-src="{{slider.IMG_PATH}}"><span>{{slider.DESCRIPTION}}</span></a> -->
											<!-- 	            </li> -->
											<li ng-show="sliderDivision[1].VISIBLE == 1">
												<a ng-click="pageLinkEvent(sliderDivision[1])"><img ng-src="{{sliderDivision[1].IMG_PATH}}"><span>{{sliderDivision[1].DESCRIPTION}}</span></a>
											</li>
											<li ng-show="sliderDivision[2].VISIBLE == 1">
												<a ng-click="pageLinkEvent(sliderDivision[2])"><img ng-src="{{sliderDivision[2].IMG_PATH}}"><span>{{sliderDivision[2].DESCRIPTION}}</span></a>
											</li>
											<li ng-show="sliderDivision[3].VISIBLE == 1">
												<a ng-click="pageLinkEvent(sliderDivision[3])"><img ng-src="{{sliderDivision[3].IMG_PATH}}"><span>{{sliderDivision[3].DESCRIPTION}}</span></a>
											</li>
											<li ng-show="sliderDivision[4].VISIBLE == 1">
												<a ng-click="pageLinkEvent(sliderDivision[4])"><img ng-src="{{sliderDivision[4].IMG_PATH}}"><span>{{sliderDivision[4].DESCRIPTION}}</span></a>
											</li>
											<li ng-show="sliderDivision[5].VISIBLE == 1">
												<a ng-click="pageLinkEvent(sliderDivision[5])"><img ng-src="{{sliderDivision[5].IMG_PATH}}"><span>{{sliderDivision[5].DESCRIPTION}}</span></a>
											</li>
											<!-- 		    	<li ng-show="sliderDivision[6].VISIBLE == 1"> -->
											<!-- 	                <a ng-click="pageLinkEvent(sliderDivision[6])"><img ng-src="{{sliderDivision[6].IMG_PATH}}"><span>{{sliderDivision[6].DESCRIPTION}}</span></a> -->
											<!-- 	            </li>   -->
										</ul>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<footer_index>
	</footer_index>

	<!-- <script src="assets/lib/Angular/angular.js" type="text/javascript"></script> -->
	<script src="assets/lib/Angular/angular.min.js" type="text/javascript"></script>
	<script src="assets/lib/Angular/angular-cookies.js" type="text/javascript"></script>
    <script src="assets/lib/Angular/angular-sanitize.js"></script>
	<script src="assets/lib/Angular/Chart.js"></script>
	<script src="assets/lib/Angular/angular-chart.js"></script>
	<script src="assets/lib/Angular/angular-dragdrop.min.js"></script>
	<script src="assets/lib/JQuery/jquery.cxcalendar.min.js"></script>
	<script src="assets/lib/JQuery/jquery.cxcalendar.languages.js"></script>

	<script src="assets/lib/Request/require.js"></script>
	<!--script src="assets/lib/Angular/angular-ui-router.js" type="text/javascript"></script>
    <script src="assets/lib/ocLazyLoad/ocLazyLoad.js" type="text/javascript" ></script>
    <script src="assets/lib/Angular/angular-route.min.js" type="text/javascript"></script-->
	<script src="assets/lib/Bootstrap/bootstrap.min.js"></script>
	<script>
		var bsButton = $.fn.button.noConflict(); // reverts $.fn.button to jqueryui btn
		$.fn.bsButton = bsButton; // assigns bootstrap button functionality to $.fn.btn

		var bsTooltip = $.fn.tooltip.noConflict(); // reverts $.fn.button to jqueryui btn
		$.fn.bsTooltip = bsTooltip; // assigns bootstrap button functionality to $.fn.btn
	</script>
	<script src="assets/lib/xml2json.js" type="text/javascript" charset="UTF-8"></script>


	<script src="assets/lib/ui.bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
	<script src="assets/lib/ngDialog/js/ngDialog.js"></script>
	<script src="assets/lib/sortable.js"></script>
	<script src="assets/lib/angular-confirm.js"></script>
	<script src="assets/lib/i18nDynamic/i18nDynamic.js"></script>
	<script src="assets/lib/i18nDynamic/i18nDynDictionary.js"></script>
	<script src="assets/lib/SpryMenuBar.js" type="text/javascript"></script>
	<script src="assets/lib/dkeyboard/dkeyboard.js"></script>

	<script src="assets/js/app.js" type="text/javascript"></script>

	<script src="assets/js/directives/eSmartTag.js" type="text/javascript"></script>
	<script src="assets/js/directives/eSmartSelect.js" type="text/javascript"></script>
	<script src="assets/js/directives/enterAsTab.js" type="text/javascript"></script>
	<script src="assets/js/directives/tabs_pane.js" type="text/javascript"></script>
	<script src="assets/js/directives/ngJqGrid.js" type="text/javascript"></script>
	<script src="assets/js/directives/eResize.js" type="text/javascript"></script>
	<script src="assets/js/directives/eDataMask.js" type="text/javascript"></script>
	<script src="assets/js/directives/enterEvent.js" type="text/javascript"></script>
	<script src="assets/js/directives/bindHtmlCompile.js" type="text/javascript"></script>
	<script src="assets/js/directives/eCombobox.js" type="text/javascript"></script>
	<script src="assets/js/directives/eUpload.js" type="text/javascript"></script>
	<script src="assets/js/directives/ePaging.js" type="text/javascript"></script>
	<script src="assets/js/directives/eInputLimit.js" type="text/javascript"></script>
	<script src="assets/js/directives/eDatepick.js" type="text/javascript"></script>
	<script src="assets/js/directives/slimScrollInit.js" type="text/javascript"></script>
	<script src="assets/js/directives/eLengthLimit.js" type="text/javascript"></script>
	<script src="assets/js/directives/functionType.js" type="text/javascript"></script>
	<script src="assets/js/directives/currentPath.js" type="text/javascript"></script>
	<script src="assets/js/filters/eDateTime.js" type="text/javascript"></script>

	<script src="assets/js/services/imgFileUploadService.js" type="text/javascript"></script>
	<script src="assets/js/services/sysInfoService.js" type="text/javascript"></script>
	<script src="assets/js/services/projInfoService.js" type="text/javascript"></script>
	<script src="assets/js/services/paramCodeService.js" type="text/javascript"></script>
	<script src="assets/js/services/socketService.js" type="text/javascript"></script>
	<script src="assets/js/services/validateService.js" type="text/javascript"></script>
	<script src="assets/js/services/strService.js" type="text/javascript"></script>
	<script src="assets/js/services/withLazyModuleService.js" type="text/javascript"></script>
	<script src="assets/js/services/alerts.js" type="text/javascript"></script>
	<script src="assets/js/filters/mapping.js" type="text/javascript"></script>
	<!-- <script src="assets/js/services/encrypt.js" type="text/javascript"></script> -->

	<script type="text/javascript" src="assets/lib/Angular.MultiSelect/angular-multi-select.js"></script>

	<script src="assets/js/controllers/BaseController.js" type="text/javascript"></script>
	<script src="assets/js/controllers/encryptController.js" type="text/javascript"></script>
	<script src="assets/js/controllers/TabBaseController.js" type="text/javascript"></script>
	<script src="assets/js/controllers/InfoBarController.js" type="text/javascript"></script>
	<script src="assets/js/controllers/MenuBarController.js" type="text/javascript"></script>
	<script src="assets/js/controllers/TabController.js" type="text/javascript"></script>
	<script src="assets/js/controllers/StatusBarController.js" type="text/javascript"></script>
	<script src="assets/js/controllers/MarqueeRunController.js" type="text/javascript"></script>
	<script src="assets/js/services/menuService.js" type="text/javascript"></script>
	<script src="assets/js/controllers/native-sdk.js" type="text/javascript"></script>

	<script src="assets/js/eSoafWebPlatform.js" type="text/javascript"></script>

	<script type="text/javascript" src="assets/txn/LOGIN/LOGIN.js"></script>

	<script type="text/javascript" src="assets/js/controllers/InitController.js"></script>

	<script type="text/javascript">
		var OldOnload = window.onload || function() {};
		window.onload = function() {
			try {
				IE8Fix();
				reSizeMe();

				OldOnload(); //若其它 Lib 有定義 window.onload
				// setTimeout(delayInit, 500);
			} catch (e) {}
		}
		window.onbeforeunload = function() {
			try {
				var SLWin = window.opener;
				if (SLWin) {
					SLWin.ReSetHTMLWin();
				}
			} catch (e) {}
		}

		function open_kome() {
			window.open('https://webphone.post.gov.tw', 'newwindow', 'height=550, width=350, top=0, left=0, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, status=no');
		}
//=======home.html 首頁右下角智能客服icon    start
		var doveStatus = false;
		function doveMessageLoad() {
            setTimeout(function(){
            	if(!doveStatus){
            		$("#doveMessage").hide();
            	}
        	},4000)
		}

		function doveMessageEnter() {
			 doveStatus = true;
			 $("#doveMessage").show();
			 $("#smart_dove").stop(true).fadeTo(1000,0.7);
		}
		
		function doveMessageLeave() {
			 doveStatus = false;
			 $("#doveMessage").hide();
			 $("#smart_dove").stop(true).fadeTo(0,1);
		}
//=======home.html 首頁右下角智能客服icon   end
	</script>
	<div class="dove" onmouseleave="doveMessageLeave()" onmouseenter="doveMessageEnter()">
		            <a target="_blank" title="智能客服(另開新視窗)" href="https://ics.post.gov.tw/Webhook/" rel="noopener noreferrer">
		                 <img onload="doveMessageLoad()" id="doveMessage" src="assets/img/doveMessage.png" alt="我是智能小鴿，歡迎提問…" width="160" height="70" style="margin:0 0 15px 0;">
		                 <img id="smart_dove" src="assets/img/smart_dove.gif" alt="智能客服" >
		            </a>
	</div>
</body>

</html>